[user]
    name = yoxi
{{ if eq .chezmoi.os "darwin" }}
# darwin
	email = yongxingzhao@foxmail.com
{{ else if eq .chezmoi.os "linux" }}
	email = yongxingzhao@{{ .chezmoi.hostname }}
{{ else }}
# other operating system
{{ end }}
[core]
     pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
    side-by-side = true
[merge]
    conflictStyle = zdiff3
