{{- $name := promptStringOnce . "name" "Your name:" -}}
{{- $email := promptStringOnce . "email" "Email address:" -}}
[data]
    name = {{ $name | quote }}
    email = {{ $email | quote }}

[chezmoi]
    sourceDir = "~/.local/share/chezmoi"
    editor = "nvim"
    color = "auto"
    progress = true

[source]
    url = "https://github.com/yongxingzhao/dotfiles.git"

[git]
    autoPush = true
    autoCommit = true
    pull = true
    stage = true

# [diff]
#     exclude = []

[merge]
    command = "nvim"
    args = ["-d"]

[update]
    # 更新前自动拉取
    pre = ["git pull"]  

# 用 age/gpg 加密敏感文件
# [encryption]
#     algorithm = "age"
#     age = { recipient = "age1xxxx..." }

