{{- $name := promptStringOnce . "name" "Your name:" -}}
{{- $email := promptStringOnce . "email" "Email address:" -}}
[data]
  name = {{ $name | quote }}
  email = {{ $email | quote }}
  gitSign = true

[chezmoi]
  sourceDir = "$HOME/.local/share/chezmoi"
  editor = "nvim"
  color = "auto"
  progress = true

[source]
  url = "https://github.com/yongxingzhao/dotfiles.git"

[diff]
#  command = "code"
#  args = ["--wait", "--diff"]
#  exclude = []

[git]
  autoadd = false
  autopush = true
  autoCommit = true

[merge]
  command = "nvim"
  args = ["-d"]

[update]
    apply = true
# 用 gpg 加密敏感文件
# [encryption]
#     algorithm = "gpg"
#     gpg = { recipient = "gpg1xxxx..." }

